$nav_bg: #AACD06;
$title: #1E2188;
$white: #ffffff;

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $title;
}

header {
    background-color: $nav_bg;
    padding: 5px 0;
  
    .left_side {
      .logo {
        a {
          height: 100%;
  
          display: flex;
  
          color: $white;
          font-weight: bold;
          font-size: 30px;

          @media(max-width: 767px) {
              font-size: 24px;
          }

          @media(max-width: 575px) {
                font-size: 20px;
        }
  
          img {
            width: 50px;
          }
          span {
            margin-left: 5px;
            margin-top: auto;
          }
        }
      }
    }
  
    .right_side {
      * {
        font-size: 20px;

        @media(max-width: 767px) {
            font-size: 16px;
        }
      }
      .links {
        height: 100%;
        text-align: left;
        justify-content: center;
        font-weight: bold;
  
        .link {
          position: relative;
          align-self: center;
  
          & a:after {
            content: "";
            position: absolute;
            background-color: white;
            height: 2px;
            width: 0;
            bottom: 0;
            left: 10px;
            transition: 0.6s;
          }
          & a:hover:after {
            width: 84.8px;
          }
          &:nth-child(5) a:hover:after {
            width: 50px;
          }

          @media(max-width: 992px){
              padding: 0 5px;
          }
        }
      }

      .mobile_menu {
            .navbar-toggler-icon {
                background-image: url('../img/menu.png');
            }

            .show .navbar-toggler-icon {
                background-image: url('../img/menu-open.png');
            }
            
            .dropdown-toggle::after {
                content:unset;
            }
            .dropdown-item.active, .dropdown-item:active {
                background-color: #f8f9fa;
            }

            .dropdown-menu {
                text-align: center;

                .dropdown-item {
                    font-size: 20px;
                    color: $title;
                    font-weight: bold;
                }
            }

      }
    }
  }

main {
  min-height: calc(100vh - 60px);
    nav {
        ol {
            li {
                color: #000 !important;
                font-weight: bold;
                font-size: 20px;
            }
        }
    }
    .products {
        color: $title;
        font-size: 20px;
        font-weight: bold;

        @media(max-width: 767px) {
            font-size: 16px;
        }
        
        .product {
            margin-bottom: 30px;

            .product_thumbnail {
                text-align: center;
    
                .product_pic {
                    border: 1px solid $title;
                }
    
                .product_name {
                    font-size: 30px;

                    @media(max-width: 767px) {
                        font-size: 20px;
                    }
                }
            }
            
            .product_detail {
                padding-left: 60px;
                padding-bottom: 45px;

                @media(max-width: 786px) {
                    padding-left: 10px;
                    padding-bottom: 25px;
                }

                display: flex;
                flex-direction: column;
                justify-content: center;

                pre {
                  font-size: 20px;
                  @media(max-width: 767px) {
                    font-size: 16px;
                  }
                }
            
            }
        }
    }
}

.backToTop {
  font-size: 30px;
  padding: 20px 27px;
  background-color: $nav_bg;
  color: white;
  border-radius: 50%;
  text-decoration: none;

  position: fixed;
  z-index: 10;
  right: 30px;
  bottom: 30px;

  &:hover {
    background-color:$title;
    color: white;
  }

  @media(max-width: 575px) {
    padding: 10px 17px;
  }
}


footer {
  background-color: #aacd06;
  padding: 5px 0;
  text-align: center;

  .footer_info {
    letter-spacing: .1rem;
    font-weight: bold;
    font-size: 12px;
    color: $title;
  }
}
